<% include ../partials/header %>
   <div class="container">
      <h1> <%= campground.name %></h1>
      <p>
         <img src="<%= campground.image %>" alt="hfhfh">
      </p>
      <p>
         <%= campground.description %>
      </p>

      <% campground.comments.forEach(function(comment){ %>
         <p><strong> <%= comment.author %> </strong> </p>
         <p>
            <%= comment.text %>
         </p>
         <a href="/campgrounds/<%= campground._id%>/comments/new">add new comment</a>
         <% }) %>
   </div>

   <% include ../partials/footer %>
