<% include ../partials/header %>
   <div class="container">
      <div class="row">
         <div class="col-md-3">
            <h1>YelpCamp</h1>
            <div class="">
               <ul class="list-group">
                  <li class="list-group-item active">Category 1</li>
                  <li class="list-group-item">Category 2</li>
                  <li class="list-group-item">Category 3</li>
               </ul>
            </div>
         </div>
         <div class="col-md-9">
            <div class="thumbnail">
               <p>
                  <img class="img-responsive" src="<%= campground.image %>" alt="camps">
               </p>
               <h5 class="text-center"><em>Submitted by <%= campground.author.username%> </em> </h5>
               <div class="intro">
                  <div class="caption-full">
                     <h4><a href="#"><%= campground.name %></a> </h4>
                     <h4>#19.00/night</h4>
                  </div>
                  <p>
                     <%= campground.description %>
                  </p>
                  <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                     <div class="buttons">
                        <div class="margin-10">
                           <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                        </div>
                        <form class="margin-10" action="/campgrounds/<%=campground._id%>/delete?_method=delete" method="post">
                           <button class="btn btn-xs btn-danger" type="submit" name="button">Delete</button>
                        </form>
                     </div>
                     <% } %>
               </div>
               <hr>
               <div class="text-right margin-10">
                  <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>/comments/new">Add  new comment</a>
               </div>
               <% campground.comments.forEach(function(comment){ %>
                  <div class="well well-lg">
                     <div class="marg">
                        <div class="caption-full">
                           <p class="lead"><strong> <%= comment.author.username %> </strong> </p>
                           <p> 10 days ago</p>
                        </div>
                        <p class="comment">
                           <%= comment.text %>
                        </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                           <div class="buttons">
                              <p><a class="btn btn-xs btn-warning margin-10" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>/edit"> Edit</a></p>
                              <form class="margin-10" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id%>/delete?_method=delete" method="post">
                                 <button class="btn btn-xs btn-danger" type="submit" name="button">Delete</button>
                              </form>
                           </div>
                           <% } %>
                              <hr>
                              <% }) %>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
   <% include ../partials/footer %>
